{% extends 'base.html' %}
{% block title %}
    <title> Login Page</title>
{% endblock %}
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-9">
            <form method="post">
                {% csrf_token %}

  <div class="form-outline mb-4">
      {{ form.as_p }}

  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
    </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">login</button>

  <!-- Register buttons -->
  <div class="text-center">
      <span> Not Yet Register ?  <a href="{% url 'accounts:register' %}" style="text-decoration: none">Register</a></span>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
        </div>
    </div>
    </div>
{% endblock %}