{% extends 'include/admin template/base.html' %}
{% block admin_title %}
    <title>Profile Page</title>
{% endblock %}

{% block content %}
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    {% if profile.image %}
                        <img src="{{ profile.image.url }}" alt="profile">
                    {% else %}
                        <img src="/static/assets/images/profile/avatar.jpg">
                    {% endif %}
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ profile.user.username}}</span>

                </div>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:upateprofile' profile.id %}">
                <span class="menu-title">Edit Profile </span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">#}
{#                <span class="menu-title">Basic UI Elements</span>#}
{#                <i class="menu-arrow"></i>#}
{#                <i class="mdi mdi-crosshairs-gps menu-icon"></i>#}
{#              </a>#}
{#              <div class="collapse" id="ui-basic">#}
{#                <ul class="nav flex-column sub-menu">#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>#}
{#                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>#}
{#                </ul>#}
{#              </div>#}
{#            </li>#}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:user_post' %}">
                <span class="menu-title">User Posts</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:Blogs' %}">
                <span class="menu-title">HomePage</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="pages/charts/chartjs.html">#}
{#                <span class="menu-title">Charts</span>#}
{#                <i class="mdi mdi-chart-bar menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="pages/tables/basic-table.html">#}
{#                <span class="menu-title">Tables</span>#}
{#                <i class="mdi mdi-table-large menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
{#            <li class="nav-item">#}

            <li class="nav-item sidebar-actions">
              <span class="nav-link">
                <a class="btn btn-gradient-primary mt-4 mr-2" href="{% url 'blog:create_post' %}">+ Add Post</a>
              </span>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="bg-info-primary me-2">
                   Profile
                </span>
              </h3>
            </div>
              <div class="row">
                     <div class="col-6">
                      Username: <input type="text" value="{{ profile.user.username}}" class="form-control" readonly>
                     </div>
                      <div class="col-6">
                     PhoneNumber: <input type="text" value="{{ profile.phone_number}}" class="form-control" readonly>
                     </div>
              </div>
              <div class="row">
                  {% if profile.image %}
                      <div class="col-6">
                    Profile Image: <img src=" {{ profile.image.url }} "  width="150px" height="100px" class="rounded-circle">
                      </div>
                  {% endif %}
              </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
{% endblock %}