{% extends 'base.html' %}
{% block content %}
    <div class="row">
     {% for item in blog %}
     <div class="col-4">
         <div class="card" style="width:300px">
             {% if item.image %}
           <img class="card-img-top" src="{{ item.image.url }}" alt="Card image" height="200px" width="100px" style="width:100%" >
                 {% else %}
                 <img src="/static/assets/images/profile/avatar.jpg" height="200px" width="100px" style="width:100%" >
             {% endif %}
           <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
             <p class="card-text">{{ item.description }}</p>
            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">more info</a>
    </div>
  </div>

     </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
  <ul class="pagination">
  {% for pagenumber in paginator.page_range %}
      <li class="{% if page_obj.number == pagenumber %} btn btn-primary btn-sm {% endif %}"><a href="?page={{ pagenumber }}" class="btn btn-sm">{{ pagenumber }}</a></li>
  {% endfor %}
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light btn-sm ">&laquo;</a></li>
    {% endif %}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-light btn-sm ">&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}